.recent-list {
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  margin-top: 10px;
}

.recent-list .list-header p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.list-header p {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
}

.list-info {
  display: flex;
  flex-direction: row;
  color: gray;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
}

.list-desc {
  color: black;
}
