<div
  [ngClass]="{ christmas: theme === 'christmas', fall: theme === 'fall' }"
  class="recent-list blue-clickable"
  (click)="onClick()"
>
  <div class="list-header">
    <p class="list-desc">
      <strong>{{ list.name }}</strong
      ><br />{{ creator }}
    </p>
    <div class="list-info accent">
      <p>
        {{ list.items?.length }}
        {{ list.items?.length === 1 ? "item" : "items" }}
      </p>
      @if (showDeleteButton) {
        <div (click)="onDelete($event)">
          <i class="fa-solid fa-xmark fa-xl" style="padding-left: 10px"></i>
        </div>
      }
    </div>
  </div>
</div>
