@if (!loading) {
  @if (recentLists.length) {
    <h3 mat-dialog-title>{{ this.title }}</h3>
    <mat-dialog-content>
      <div class="lists" [ngClass]="{ disabled: copyLoading }">
        @for (item of recentListItems; track item.list.id) {
          <app-recent-list
            [list]="item.list"
            [creator]="item.creator?.name || 'Unknown User'"
            (listClicked)="selectList(item.list, item.creator)"
          ></app-recent-list>
        }
      </div>
    </mat-dialog-content>
  } @else {
    <h3 mat-dialog-title>No Recent Lists</h3>
    <mat-dialog-content>
      <p>Lists that you've recently viewed will appear here.</p>
    </mat-dialog-content>
  }
} @else {
  <mat-dialog-content>
    <div class="loading">
      <div class="spinner"></div>
    </div>
  </mat-dialog-content>
}
