.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.header {
  display: flex;
}

.header h2 {
  text-align: center;
}

.header p {
  text-align: center;
}

.add-list-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list-header p,
h4 {
  margin: 0;
}

.list-header p {
  white-space: nowrap;
}

.list-info {
  display: flex;
  flex-direction: row;
  color: gray;
  align-items: center;
}

.edit-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.list {
  width: 95%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.saved-list {
  width: 95%;
  background-color: rgb(255, 235, 235);
  margin-top: 10px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.saved-list .list-header p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists app-recent-list {
  width: 95%;
  max-width: 500px;
  display: block;
}
