@if (loading) {
  <div class="loading center pad-top">
    <div class="spinner"></div>
  </div>
}
@if (!loading) {
  <div style="padding-bottom: 20px">
    <div class="center header pad-top">
      <button class="edit-button btn-blue" (click)="changeName()">
        <i class="fa-solid fa-pen fa-sm blue-icon"></i>
      </button>
      <h1>{{ user?.name }}'s Lists</h1>
    </div>
    <div class="lists">
      @for (list of lists; track list) {
        <div class="list-item-card" (click)="navigateToList(list)">
          <div class="item-content">
            <div class="item-name">{{ list.name }}</div>
            <div class="list-info">
              <p>
                {{ list.items?.length }}
                {{ list.items?.length === 1 ? "item" : "items" }}
              </p>
            </div>
          </div>
          <div class="item-actions">
            <button
              class="action-btn delete"
              (click)="deleteList(list, $event); $event.stopPropagation()"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      }
    </div>

    <div class="combined-actions">
      <button class="action-bar-btn" (click)="addList()">
        <i class="fa-solid fa-plus fa-lg"></i>
        <span>Add List</span>
      </button>
    </div>
  </div>
}
@if (user?.savedLists?.length) {
  <div>
    <div class="center pad-top-large">
      <h3>Saved Lists</h3>
    </div>
    @if (loadingSaved) {
      <div class="loading center pad-top">
        <div class="spinner"></div>
      </div>
    }
    @if (!loadingSaved && !loading) {
      <div class="lists">
        @for (list of savedLists; track list; let i = $index) {
          <app-recent-list
            [list]="list"
            [creator]="savedListCreators[i]"
            [showDeleteButton]="true"
            (listClicked)="navigateToList($event)"
            (deleteClicked)="unsaveList($event.list, $event.event)"
          ></app-recent-list>
        }
      </div>
    }
  </div>
}
