<h4 class="center pad-top">{{ creator?.name }}</h4>
@if (!editing) {
  <h1 class="center header pad-top">{{ list?.name }}</h1>
} @else {
  <div class="center header pad-top">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="list!.name" />
    </mat-form-field>
  </div>
}
@if (loading) {
  <div class="loading center pad-top">
    <div class="spinner center pad-top"></div>
  </div>
} @else {
  <div style="padding-bottom: 80px">
    <div class="center pad-top buttons-row">
      @if (!spoilers) {
        @if (!editing) {
          <button class="btn btn-light top-button" (click)="openShareModal()">
            <i class="fa-solid fa-share fa-md black-icon"></i>
            Share
          </button>
          <button class="btn btn-light top-button" (click)="editList()">
            <i class="fa-solid fa-edit fa-md black-icon"></i>
            Edit
          </button>
        } @else {
          <button
            class="btn btn-light top-button"
            (click)="cancelEditListLoading ? null : editList()"
          >
            @if (cancelEditListLoading) {
              <mat-progress-spinner
                mode="indeterminate"
                diameter="25"
                [strokeWidth]="2"
              ></mat-progress-spinner>
            } @else {
              <i class="fa-solid fa-xmark fa-md black-icon"></i> Cancel
            }
          </button>
          <button
            class="btn btn-light top-button"
            (click)="saveListLoading ? null : saveList()"
          >
            @if (saveListLoading) {
              <mat-progress-spinner
                mode="indeterminate"
                diameter="25"
                [strokeWidth]="2"
              ></mat-progress-spinner>
            } @else {
              <i class="fa-solid fa-save fa-md black-icon"></i> Save
            }
          </button>
        }
      } @else {
        <button class="btn btn-light top-button" (click)="openSaveModal()">
          <i
            class="fa-solid fa-plus fa-lg black-icon"
            style="padding-right: 5px"
          ></i>
          Add to Saved Lists
        </button>
      }
      @if (!editing && userHasSavedSetting) {
        <button
          class="btn btn-light top-button"
          (click)="resetSpoilerPreference()"
        >
          <i
            class="fa-solid fa-arrow-rotate-right fa-lg black-icon"
            style="padding-right: 5px"
          ></i>
          Reset Spoiler Preference
        </button>
      }
    </div>
    @if (!(spoilers && !list?.ideas)) {
      <div class="ideas">
        @if (!editing) {
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Stuff I Like</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                {{
                  list!.ideas || 'Press the "Edit" button to add some ideas!'
                }}
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        } @else {
          <mat-form-field>
            <mat-label>General, less-specific ideas of things I like</mat-label>
            <textarea
              matInput
              [(ngModel)]="list!.ideas"
              cdkTextareaAutosize
              cdkAutosizeMaxRows="10"
            ></textarea>
          </mat-form-field>
        }
      </div>
    }
    <div class="list" [ngClass]="{ disabled: saveListLoading }">
      @for (item of list?.items; track $index; let i = $index) {
        <div class="list-row">
          @if (!spoilers) {
            <div
              class="item"
              style="
                border-bottom-right-radius: 0%;
                border-top-right-radius: 0%;
              "
              (click)="editing ? null : openItemModal(item)"
            >
              <div class="item-name">{{ item.name }}</div>
            </div>
            @if (!editing) {
              <button class="edit-button blue" (click)="editItem(item)">
                <i class="fa-solid fa-pen fa-lg white-icon"></i>
              </button>
              <button class="delete-button red" (click)="deleteItem(i)">
                <i class="fa-solid fa-trash fa-lg white-icon"></i>
              </button>
            } @else {
              <button
                class="edit-button gray"
                (click)="moveItem(i, 'up')"
                [disabled]="i === 0"
              >
                <i class="fa-solid fa-arrow-up fa-lg white-icon"></i>
              </button>
              <button
                class="delete-button gray"
                (click)="moveItem(i, 'down')"
                [disabled]="i === list!.items!.length - 1"
              >
                <i class="fa-solid fa-arrow-down fa-lg white-icon"></i>
              </button>
            }
          } @else {
            <div
              class="item"
              (click)="openItemModal(item)"
              [ngClass]="{ highlighted: item.purchased }"
            >
              <div class="item-name">{{ item.name }}</div>
            </div>
          }
        </div>
      }
    </div>

    @if (!spoilers && !editing) {
      <div class="buttons">
        <button class="btn round-button green" (click)="openAddModal()">
          <i class="fa-solid fa-plus fa-xl white-icon"></i>
        </button>
        @if (list?.items?.length) {
          <button
            class="btn gradient"
            (click)="openSuggestionModal()"
            style="margin-top: 15px; color: white"
          >
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            Suggestions
          </button>
        }
      </div>
    }
  </div>
}

<div class="floating-control">
  <button class="control-btn" routerLink="/">
    <i class="fa-solid fa-house fa-lg"></i>
    <span>Home</span>
  </button>
  <div class="divider"></div>
  <button class="control-btn" (click)="openHistoryModal()">
    <i class="fa-solid fa-clock-rotate-left fa-lg"></i>
    <span>Recent Lists</span>
  </button>
</div>
