/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

button {
  border: none;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: #138496;
}

.gray {
  background-color: darkgray;
}

.green:focus,
.green:hover,
.green:active {
  background-color: darkgreen;
}

.white-icon {
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pad-top {
  padding-top: 20px;
}

.pad-top-large {
  padding-top: 50px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #138496;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-row {
  display: flex;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  transition: opacity 0.3s ease-in-out;
}

.blue-clickable {
  background-color: rgb(237, 235, 255);
  transition: background-color 0.2s ease;
}

.blue-clickable:hover {
  background-color: rgb(231, 230, 255);
}

.fall {
  background-color: #dd6f20;
  transition: background-color 0.2s ease;
}

.fall:hover {
  background-color: #ee872d;
}

.fall .accent {
  color: #5c2b08 !important;
}

.christmas {
  background-color: #bfefff;
}

.christmas:hover {
  background-color: #99dfff;
}

.christmas .accent {
  color: #131313 !important;
}
