<body
  [ngClass]="{
    'christmas-body': theme === 'christmas',
    'fall-body': theme === 'fall',
  }"
>
  <div class="snowflakes">
    <div>
      @if (theme === "christmas") {
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
      }
      @if (theme === "fall") {
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      }
      <div class="header">
        <h1
          [ngClass]="{
            'white-title': theme === 'christmas' || theme === 'fall',
          }"
          class="center pad-top"
        >
          Swishlist
        </h1>
        <p
          [ngClass]="{
            'explain-text': theme !== 'christmas' && theme !== 'fall',
            'explain-text-christmas': theme === 'christmas' || theme === 'fall',
          }"
        >
          Enter your email to view your lists or create a new one.
        </p>
      </div>
      <form class="form center">
        <div class="row-layout">
          <input
            #emailInput
            type="email"
            class="form-control rounded-input"
            placeholder="Enter email"
            [(ngModel)]="email"
            name="email"
            (focus)="emailInput.select()"
          />
          <button
            class="submit-button blue-clickable"
            [ngClass]="{
              christmas: theme === 'christmas',
              fall: theme === 'fall',
            }"
            (click)="goToMyLists(email)"
          >
            <i class="fa-solid fa-gift black-icon"></i>
          </button>
        </div>
      </form>
      @if (badEmail) {
        <p class="center" style="color: gray; padding-top: 10px">
          Please enter a valid email address.
        </p>
      }
    </div>
    @if (!loading) {
      @if (recentLists.length) {
        <div class="lists center pad-top">
          <h3
            [ngClass]="{
              'white-title': theme === 'christmas' || theme === 'fall',
            }"
          >
            Recent Lists
          </h3>
          @for (list of recentLists; track list; let i = $index) {
            <app-recent-list
              [list]="list"
              [creator]="recentListCreators[i]?.name || 'Unknown User'"
              [showDeleteButton]="true"
              [theme]="theme"
              (listClicked)="navigateToList($event, recentListCreators[i])"
              (deleteClicked)="removeList($event.list, $event.event)"
            ></app-recent-list>
          }
        </div>
      }
    } @else {
      <div class="loading center pad-top">
        <div class="spinner"></div>
      </div>
    }
  </div>
</body>
