<div
  class="home-container"
  [ngClass]="{
    'christmas-body': theme === 'christmas',
    'fall-body': theme === 'fall',
  }"
>
  <div class="snowflakes">
    <div>
      @if (theme === "christmas") {
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
      }
      @if (theme === "fall") {
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      }
      <div class="header">
        <h1
          [ngClass]="{
            'white-title': theme === 'christmas' || theme === 'fall',
          }"
          class="center pad-top"
        >
          <img
            src="assets/images/swishlist.svg"
            alt="Swishlist"
            style="height: 3rem"
            [ngClass]="{
              'white-logo': theme === 'christmas' || theme === 'fall',
            }"
          />
        </h1>
        <p
          [ngClass]="{
            'explain-text': theme !== 'christmas' && theme !== 'fall',
            'explain-text-christmas': theme === 'christmas' || theme === 'fall',
          }"
        >
          Enter your email to view your lists or create a new one.
        </p>
      </div>
      <form class="form center">
        <div class="row-layout">
          <input
            #emailInput
            type="email"
            class="form-control rounded-input"
            placeholder="Enter email"
            [(ngModel)]="email"
            name="email"
            (focus)="emailInput.select()"
          />
          <button
            class="submit-button blue-clickable"
            [ngClass]="{
              christmas: theme === 'christmas',
              fall: theme === 'fall',
            }"
            (click)="goToMyLists(email)"
          >
            <i class="fa-solid fa-gift black-icon"></i>
          </button>
        </div>
      </form>
      @if (badEmail) {
        <p class="center" style="color: gray; padding-top: 10px">
          Please enter a valid email address.
        </p>
      }
    </div>
    @if (!loading) {
      @if (recentListItems.length) {
        <div class="lists center pad-top">
          <h3
            [ngClass]="{
              'white-title': theme === 'christmas' || theme === 'fall',
            }"
          >
            Recent Lists
          </h3>
          @for (item of recentListItems; track item.list.id) {
            <app-recent-list
              [list]="item.list"
              [creator]="item.creator?.name || 'Unknown User'"
              [showDeleteButton]="true"
              [theme]="theme"
              (listClicked)="navigateToList($event, item.creator)"
              (deleteClicked)="removeList($event.list, $event.event)"
            ></app-recent-list>
          }
        </div>
      }
    } @else {
      <div class="loading center pad-top">
        <div class="spinner"></div>
      </div>
    }
    <div class="footer-container">
      <p
        class="footer-text"
        [ngClass]="{
          'white-text': theme === 'christmas' || theme === 'fall',
        }"
      >
        Questions? Issues? Email
        <a
          href="mailto:ashton@swishlist.cc"
          class="footer-link"
          [ngClass]="{
            'white-link': theme === 'christmas' || theme === 'fall',
          }"
          >ashton@swishlist.cc</a
        >
      </p>
    </div>
  </div>
</div>
