.title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.white-title {
  color: white;
}

.buttons {
  margin-top: 10px;
}

.row-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  width: 300px;
}

.row-layout > * {
  margin-right: 10px;
}

.explain-text-christmas {
  margin: 10px;
  text-align: center;
  color: lightgray;
}

.explain-text {
  margin: 10px;
  text-align: center;
  color: darkgray;
}

.rounded-input {
  border-radius: 30px;
}

.christmas-body {
  background: rgb(24, 0, 54);
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists app-recent-list {
  width: 95%;
  max-width: 500px;
  display: block;
}

/* https://codepen.io/codeconvey/pen/xRzQay */

.snowflake {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: white;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

/* Fall Theme */

.fall-body {
  background: #2e1a0f; /* Dark brown background */
}

@keyframes leaves-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes leaves-shake {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(80px) rotate(180deg);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
  }
}

.leaf {
  position: fixed;
  top: -10%;
  z-index: 9999;
  width: 10px;
  height: 10px;
  background-color: #d35400; /* Default orange */
  border-radius: 5px 0px;
  opacity: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: leaves-fall, leaves-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: leaves-fall, leaves-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.leaf:nth-of-type(2n) {
  background-color: #c0392b; /* Red */
}

.leaf:nth-of-type(3n) {
  background-color: #f1c40f; /* Yellow */
}

.leaf:nth-of-type(4n) {
  background-color: #e67e22; /* Orange */
}

.leaf:nth-of-type(5n) {
  background-color: #8b4513; /* SaddleBrown */
}

.leaf:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.leaf:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.leaf:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.leaf:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.leaf:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.leaf:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.leaf:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.leaf:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.leaf:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.leaf:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.leaf:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
.leaf:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.leaf:nth-of-type(12) {
  left: 35%;
  -webkit-animation-delay: 6s, 1s;
  animation-delay: 6s, 1s;
}
.leaf:nth-of-type(13) {
  left: 75%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.leaf:nth-of-type(14) {
  left: 15%;
  -webkit-animation-delay: 5s, 0.5s;
  animation-delay: 5s, 0.5s;
}
